body {

}

header {
    display: inline-flex;
    align-items: flex-end;
    font-family: Merriweather, Verdana, Geneva, Tahoma, sans-serif;
}

.header--img {
    font: 30px;
}

span {
    color: powderblue;
}

h1 {
    font: 32px;
}

p {
    color: powderblue;
    float: right;
}

